.container {
  display: flex;
  align-items: center;

  padding: 8px 16px;

  background-color: var(--color-bkg-pri);
  border: 1px solid var(--color-shd);
  border-radius: 4px;
  box-shadow: var(--box-shadow-outside);
}

.grayscale {
  filter: grayscale(100%) brightness(75%);
  box-shadow: none;
}

.contentContainer {
  display: flex;
  align-items: center;

  width: calc(100% - 24px);
}

.title {
  font-size: 24px;
}

.actionsContainer {
  display: flex;

  margin-left: auto;
}
