.externalAnchor {
  padding: 4px 8px;

  background-color: var(--color-lnk-bkg);
  border-radius: 4px;

  word-break: break-all;
}

.externalAnchor:hover {
  background-color: var(--color-lnk-bkg--hov);
  box-shadow: var(--box-shadow-outside);
}
