.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: calc(var(--size-header-height));

  padding: 0 16px;

  color: var(--color-txt-sec);
  background-color: var(--color-pri);
  border-bottom: 1px solid var(--color-shd);

  font-size: 80%;
}

.mainContainer {
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: calc(
    100vh - var(--size-header-height) - 128px - var(--space-medium)
  );

  padding: 16px 64px 128px 64px;

  background-color: var(--color-bkg-pri);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 128px;

  padding: 0 16px;

  color: var(--color-txt-sec);
  background-color: var(--color-bkg-sec);
  border-top: 1px solid var(--color-shd);

  white-space: nowrap;
}

.contactEmail {
  color: var(--color-lnk-sec);
}
.contactEmail:hover {
  color: var(--color-lnk-sec--hov);
}

@media only screen and (max-width: 600px) {
  .main {
    padding-right: 8px;
    padding-left: 8px;
  }
}
