.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: calc(var(--size-header-height));

  padding: 0 16px;

  color: #426983;
  background-color: var(--color-pri);
  border-bottom: 1px solid var(--color-shd);
}

.headerImgContainer {
  flex-grow: 1;

  display: flex;
  justify-content: center;

  max-width: 500px;
}

.headerImg {
  width: 320px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: calc(
    100vh - var(--size-header-height) - var(--size-footer-height)
  );

  padding: 16px 64px 128px 64px;

  background-color: var(--color-bkg-pri);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: var(--size-footer-height);

  padding: 16px;

  color: var(--color-txt-sec);
  background-color: var(--color-bkg-sec);
  border-top: 1px solid var(--color-shd);

}

.footer > * {
  margin: 16px 4px;

  font-family: "WeddingFont", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 130%;
}

.contactEmail {
  color: var(--color-lnk-sec);
}
.contactEmail:hover {
  color: var(--color-lnk-sec--hov);
}

@media only screen and (max-width: 600px) {
  .main {
    padding-right: 8px;
    padding-left: 8px;
  }
}
