.topSmall {
  margin-top: var(--space-small);
}
.topMedium {
  margin-top: var(--space-medium);
}
.topLarge {
  margin-top: var(--space-large);
}

.rightSmall {
  margin-right: var(--space-small);
}
.rightMedium {
  margin-right: var(--space-medium);
}
.rightLarge {
  margin-right: var(--space-large);
}

.bottomSmall {
  margin-bottom: var(--space-small);
}
.bottomMedium {
  margin-bottom: var(--space-medium);
}
.bottomLarge {
  margin-bottom: var(--space-large);
}

.leftSmall {
  margin-left: var(--space-small);
}
.leftMedium {
  margin-left: var(--space-medium);
}
.leftLarge {
  margin-left: var(--space-large);
}
