.space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topXSmall {
  margin-top: var(--space-x-small);
}
.topSmall {
  margin-top: var(--space-small);
}
.topMedium {
  margin-top: var(--space-medium);
}
.topLarge {
  margin-top: var(--space-large);
}

.rightXSmall {
  margin-right: var(--space-x-small);
}
.rightSmall {
  margin-right: var(--space-small);
}
.rightMedium {
  margin-right: var(--space-medium);
}
.rightLarge {
  margin-right: var(--space-large);
}

.bottomXSmall {
  margin-bottom: var(--space-x-small);
}
.bottomSmall {
  margin-bottom: var(--space-small);
}
.bottomMedium {
  margin-bottom: var(--space-medium);
}
.bottomLarge {
  margin-bottom: var(--space-large);
}

.leftXSmall {
  margin-left: var(--space-x-small);
}
.leftSmall {
  margin-left: var(--space-small);
}
.leftMedium {
  margin-left: var(--space-medium);
}
.leftLarge {
  margin-left: var(--space-large);
}
