.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;

  border: 2px solid var(--color-shd);
  border-radius: 2px;

  font-size: 24px;

  user-select: none;
}

.active {
  border: 2px solid var(--color-shd-dark);
}
