@import-normalize;

@import "./styles/common.css";

:root {
  /* Colors */
  --color-pri: #f07070;
  --color-bkg-pri: #fffafa;
  --color-bkg-pri--hov: #efeaea;
  --color-bkg-sec: #555050;
  --color-brd-pri: #555050;
  --color-brd-pri--foc: #7777ff;
  --color-brd-sec: #fffafa;
  --color-txt-pri: #151010;
  --color-txt-sec: #ffffff;
  --color-shd: rgba(0, 0, 0, 0.2);
  --color-shd-dark: rgba(0, 0, 0, 0.5);
  --color-lnk: #004acb;
  --color-lnk--hov: #206aeb;
  --color-lnk-bkg: rgba(20, 20, 80, 0.1);
  --color-lnk-bkg--hov: rgba(20, 20, 80, 0.05);
  --color-ok: #50b020;
  --color-err: #f00000;
  --color-adm: #d05042;

  /* Sizes */
  --size-header-height: 96px;
  --size-font: 16px;
  --size-line-height: 24px;

  /* Shadows */
  --box-shadow-inside: inset 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px 0 rgba(0, 0, 0, 0.14), inset 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --box-shadow-outside: 0 1px 1px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12);
  --box-shadow-outside--elevated: 0 0 6px 0 rgba(0, 0, 0, 0.3),
    0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 9px 3px rgba(0, 0, 0, 0.12);

  /* Transitions */
  --transition-elevate: box-shadow 150ms linear;

  /* Space */
  --space-x-small: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 32px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--size-font);
  line-height: var(--size-line-height);

  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
}
