@import-normalize;

:root {
  --color-pri: #f07070;
  --color-bkg-pri: #fffafa;
  --color-bkg-sec: #555050;
  --color-txt-pri: #151010;
  --color-txt-sec: #ffffff;
  --color-shd: rgba(0, 0, 0, 0.2);
  --color-shd-dark: rgba(0, 0, 0, 0.5);
  --color-lnk: #004acb;
  --color-lnk-bkg: rgba(20, 20, 80, 0.1);
  --color-lnk-bkg--hov: rgba(20, 20, 80, 0.05);
  --color-err: #f00000;

  --size-header-height: 96px;

  --box-shadow-inside: inset 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px 0 rgba(0, 0, 0, 0.14), inset 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --box-shadow-outside: 0 1px 1px 1px rgba(0, 0, 0, 0.2),
    0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12);
  --box-shadow-outside--elevated: 0 0 6px 0 rgba(0, 0, 0, 0.3),
    0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 9px 3px rgba(0, 0, 0, 0.12);

  --transition-elevate: box-shadow 150ms linear;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-lnk);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
